version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - mongo
      - redis

  render-worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    command: node dist/workers/render.worker.js
    env_file:
      - .env
    depends_on:
      - redis
      - mongo

  pipeline-worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    command: node dist/workers/pipeline.worker.js
    env_file:
      - .env
    depends_on:
      - redis
      - mongo

  mongo:
    image: mongo:7
    volumes:
      - mongo_data:/data/db
    ports:
      - "27018:27017"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  mongo_data:
