name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      mongo:
        image: mongo:latest # Use a specific version in production
        ports:
          - 27018:27017 # Map host port 27018 to container port 27017
      redis:
        image: redis:latest # Use a specific version in production
        ports:
          - 6379:6379 # Map host port 6379 to container port 6379
    env:
      MONGO_URI: mongodb://localhost:27017/animation_studio_test # Use localhost with mapped port
      REDIS_URL: redis://localhost:6379 # Use localhost with mapped port
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm ci
      - run: npm run lint
      - run: npm run format
      - run: npm test
      - run: npm run build
